# --- Server Environment Variables ---

# Local mongo: mongodb://admin:admin@localhost:27017/?authSource=admin
MONGO_CONNECTION_STRING=mongodb://admin:admin@localhost:27017/?authSource=admin
SERVER_FIXED_TOKEN=atus
DD_AGENT_HOST=127.0.0.1

# --- Server Arguments/Parameters (used in docker-compose.yml) ---

WORLD_ID=9991d72b-cc86-451c-863d-3096b1fd82d2
ZONE_ID=1
IS_TEST_WORLD=true
