# Local mongo: mongodb://admin:admin@localhost:27017/?authSource=admin
MONGO_CONNECTION_STRING=mongodb://admin:admin@localhost:27017/?authSource=admin
WORLD_ID=9991d72b-cc86-451c-863d-3096b1fd82d2
ZONE_ID=1
