:root {}

.dialog-container {
    width: 500px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    border-radius: 30px;
}

.dialog-text {
    font-size: 18px;
    color: rgb(51, 51, 51);
    height: 100%;
    width: 100%;
    white-space: normal;
    overflow: hidden;
}
